.block{
	width: 100%;
	height: 52.3125rem;
	background-color: #eee1e0;
	display: flex;
	align-items: center;

	.main{
		width: 100%;
		height: fit-content;
		display: flex;
		flex-direction: column;
		gap: 1rem;

		h1{
			margin-left: 18.75rem;
			font-weight: 600;
			font-size: 2rem;
			color: #3A260D;
		}
	}
}