.main{
	width: fit-content;
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-self: center;
	justify-self: center;

	&:last-child{
		gap: 2.5rem;
	}

	h1{
		font-weight: 600;
		font-size: 2rem;
		color: #3A260D;
	}

	.gridNews{
		width: fit-content;
		height: fit-content;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1.5rem;

		.newsCard{
			width: 26.5rem;
			height: 32.0625rem;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			.topImg{
				position: relative;
				width: inherit;
				height: 19.6875rem;

				.data{
					position: absolute;
					top: 0.5rem;
					left: 19.5rem;
					padding: 0.5rem 1rem;
					background-color: #3A260D;
					color: #fff;
					border-radius: 0.1875rem;
				}
			}

			.info{
				width: inherit;
				height: 100%;
				display: flex;
				flex-direction: column;
				gap: 1rem;

				h3{
					font-weight: 700;
					font-size: 1.5rem;
				}

				p{
					color: #bdbdbd;
				}

				Button{
					width: max-content;
					background: none;
					border: 0.0625rem solid #FFD364;
					border-radius: 0.1875rem;
					color: #FFD364;

					&:hover{
						color: #fff;
						background: #FFD364;
					}

					&:active{
						background: #3A260D;
						border: 0.0625rem solid #3A260D;
					}
				}
			}

		}
	}
	.buttons{
		width: fit-content;
		display: flex;
		gap: 2rem;
		align-self: center;
		margin-bottom: 7.75rem;
		Button{width: max-content;}
		
		.noBgBtn{
			background: none;
			border: 0.0625rem solid #FFD364;
			border-radius: 0.1875rem;
			color: #FFD364;

			&:hover{
				color: #fff;
				background: #FFD364;
			}

			&:active{
				background: #3A260D;
				border: 0.0625rem solid #3A260D;
			}
		}

		.btnsList{
			display: flex;
			gap: 1rem;
			
			.btnsPage{
				display: flex;
				gap: 0.5rem;

				Button{
					height: 3.1875rem;
					background: none;
					border: 0.0625rem solid #3A260D;
					color: #3A260D;

					&:hover{
						background: #bdbdbd;
					}

					&:active{
						background: #3A260D;
						color: #fff;
					}
				}

				.active{
					background: #3A260D;
					color: #fff;
					&:hover{
						background: #3A260D;
					}
				}
			}
		}
	}
}