@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.mainBlock{
	width: 100%;
	height: 38.1875rem;
	display: flex;

	.miniMapBlock{
		padding: 2.5rem 3.5rem 2rem 18.75rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;

		img{
			width: 33.5rem;
			height: 28.4375rem;
		}
		
		h1{
			font-weight: 600;
			font-size: 2.75rem;
			color: #3A260D;
		}
		
	}

	.rightBlock{
		width: 67rem;
		height: inherit;
		padding: 7.75rem 27.625rem 2rem 2rem;
		display: flex;
		flex-direction: column;
		gap: 2.5rem;
		h4{font-weight: 700; font-size: 1.5rem; color: #3A260D;}
		b{font-weight: 700; font-size: 1.5rem; color: #828282;}
		background-color: #EEE1E0;

		.addressesBlock{
			width: 37.375rem;
			height: fit-content;
			display: flex;
			flex-direction: column;
			gap: 2rem;

			.adressPhones{
				display: flex;
				flex-direction: column;
				gap: 1.875rem;

				img{
					width: 1.375rem;
					height: 1.375rem;
				}

				.address{
					width: 37.1875rem;
					display: flex;
					gap: 1.5rem;
					align-items: center;
				}

				.phonesBlock{
					display: flex;
					gap: 5.0625rem;

					.phone{
						display: flex;
						gap: 1.5rem;
						align-items: center;
					}
				}
			}
		}

		.BankBlock{
			width: 36.375rem;
			display: flex;
			flex-direction: column;
			gap: 1.6875rem;
			color: #828282;
			
			p{
				font-family: 'Rubik', sans-serif;
				font-weight: 400;
				font-size: 1.625rem;
			}
			
			b{
				font-family: 'Rubik', sans-serif;
				font-weight: 600;
				font-size: 1.625rem;
			}
		}
	}
}

.MapImg{
	width: 120rem;
	height: 28.875rem;
}