.page {
  color: #3a260d;
}

.firstBlock {
  width: max-width;
  height: 39.8125rem;
  background-image: url(../../public/firstCheesBG.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;

  .firstChees{
	position: absolute;
	top: 2.25rem;
	left: 6.4375rem;
	rotate: 65.3deg;
  }

  .secondChees{
	position: absolute;
	top: 3.8875rem;
	left: 94.1625rem;
	rotate: 0.9081rem;
  }

  .ThirdChees{
	position: absolute;
	top: 24.25rem;
	left: 76.875rem;
  }
}

.h1 {
  margin: 5rem 0 2.5rem 18.75rem;
  font-weight: 600;
  font-size: 2.75rem;
}

.advantages {
  width: max-width;
  height: fit-content;
  display: flex;
  gap: 0.75rem;
  // flex-wrap: wrap;
  margin-bottom: 14.0625rem;

  .advBlock {
    width: 39.3125rem;
    height: 15.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3a260d;

    .components {
      width: 21.4375rem;
      height: 5.625rem;
      display: flex;
      gap: 1.5rem;

      .text {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        h4 {
          width: max-content;
          font-weight: 600;
          font-size: 2rem;
          color: #ffd364;
        }

        p {
          font-weight: 700;
          font-size: 1.5rem;
          color: #fff;
        }
      }
    }
  }

}
.thirdBlock {
  width: max-width;
  height: 37.25rem;
  background-image: url(../../public/cheesBG.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  padding: 5rem 0 5rem 18.75rem;
  color: #fff;

  .workerImg{
	position: absolute;
	top: -8.1875rem;
	left: 50.1875rem;
	z-index: 0;
  }

  .content{
	z-index: 1;
	width: fit-content;
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 2rem;

	h1{
		width: max-content;
		font-weight: 600;
		font-size: 2.75rem;
	}
	h2{
		width: max-content;
		font-weight: 600;
		font-size: 2rem;
	}

	.inputsBlock{
		width: fit-content;
		height: fit-content;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		p{
			width: max-content;
			font-weight: 400;
			font-size: 1rem;
		}

		.inputs{
			display: flex;
			flex-direction: column;
			gap: 1rem;
			width: 27.1875rem;

			.labelInput{
				width: inherit;
				height: fit-content;
				display: flex;
				flex-direction: column;
				gap: 0.5rem;

				label{
					font-weight: 600;
					font-size: 1rem;
				}

				input{
					width: inherit;
					height: 3.1875rem;
					border-radius: 0.1875rem;
					border: none;
					padding: 1rem 0 1rem 1.5rem;
				}

				input::placeholder{
					font-weight: 400;
					font-size: 1rem;
					color: #bdbdbd;
				}

				input:focus{
					outline: none;
				}
			}

		}
	}

	Button{
		width: 8.8125rem;
		height: 3.1875rem;
	}
  }
}

.fourthBlock{
	width: 82.5rem;
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-self: center;
	justify-self: center;
	margin-top: 7.75rem;
	margin-bottom: 7.75rem;

	h1{
		font-weight: 600;
		font-size: 2.75rem;
	}
	h2{
		font-weight: 600;
		font-size: 2rem;
		color: #ffd364;
	}
	p{
		font-weight: 400;
		font-size: 1rem;
	}
}

.fithBlock{
	width: max-width;
	height: 52.875rem;
	background-image: url(../../public/fiveBG.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}

.sixthBlock{
	width: max-width;
	height: 32.3125rem;
	background-color: #3a260d;
}