.cardBody{
	// max-width: 19.5rem;
	height: max-content;
	padding: 1.5rem;
	background: #fff;
	display: flex;
	flex-direction: column;
	border: 0.0625rem solid #3A260D;
	border-radius: 0.1875rem;

	h2{
		font-weight: 600;
		font-size: 1rem;
		color: #fff;
		text-transform: uppercase;
		background: #3A260D;
		border-radius: 0.1875rem;
		padding: 0.5rem 1.5rem;
		margin-bottom: 1rem;
	}

	.info{
		display: flex;
		flex-direction: column;
		gap: 1rem;
		width: 100%;
		margin: 1.0625rem 0 1.5rem 0;

		.name{
			width: inherit;
			display: flex;
			justify-content: space-between;
			align-items: center;

			h3{
				font-weight: 600;
				color: #3A260D;
			}

			p{
				font-weight: 700;
				font-size: 1.5rem;
				color: #FFD364;
			}
		}

		ul{
			list-style: none;

			li{
				font-weight: 600;
				font-size: 1rem;
				color: #bdbdbd;
			}
		}
	}
}