$blur-width: 5rem; // Ширина зоны размытия
$bg-color: #EEE1E0; // Цвет фона страницы (важно!)

.swiperWrapper {
  position: relative; 
  overflow: hidden;
  width: 100%;
  // Убедитесь, что сам свайпер имеет достаточный padding, 
  // чтобы его контент не был полностью скрыт оверлеем.
//   padding: 0 $blur-width; 
}

.blurOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: $blur-width;
  z-index: 10;
  pointer-events: none;
  backdrop-filter: blur(25%); 
  -webkit-backdrop-filter: blur(0.625rem);
}

.blurLeft {
  left: 0;
  background: linear-gradient(
    to right, 
    $bg-color 0%,(закрывает край)
    rgba($bg-color, 0.5) 70%,
    transparent 100%
  );
}

.blurRight {
  right: 0;
  background: linear-gradient(
    to left, 
    $bg-color 0%,
    rgba($bg-color, 0.5) 70%,
    transparent 100%
  );
}
